<div class="container-fluid headerWrapper">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4 alignLeft appName">
            ORDER FULFILLMENT DISTRIBUTION DATA MART
        </div>
        <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6 subSecWrapper alignCenter">
            <div class="subSec">MAIN MENU</div>
            <div class="subSec" style="font-size: 0.8vw; font-weight: 600;">SUBMIT REQUEST</div>
            <div class="subSec">REQUEST STATUS</div>
            <div class="subSec">REPORTS</div>
            <div class="subSec">METRICS</div>
        </div>
        <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2 alignCenter userIcons">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        </div>
    </div>
</div>